.placement-top{
    display: none;
}
#bdshare > a{
    height: 25px;
}
#bdshare > span{
    height: 25px;
}

/* twitter模板的时候使用这个背景颜色
bootstrap模板的时候使用bootstrap-3/style.css样式
*/
/**
body{
    background-color: #EEE;
}
**/

.container-narrow{
    background-color: #FFF;
    max-width: 960px;
    padding: 1px 15px;
}
#cnzz_stat_icon_1256833154{
    display: none;
}