---
theme :
  name : bootstrap-3
---
{% include JB/setup %}

{% include themes/bootstrap-3/default.html %}

<!--<script>var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256833154'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256833154' type='text/javascript'%3E%3C/script%3E"));</script>-->

<!--<script>-->
  <!--(function(){-->
    <!--var bp = document.createElement('script');-->
    <!--bp.src = '//push.zhanzhang.baidu.com/push.js';-->
    <!--var s = document.getElementsByTagName("script")[0];-->
    <!--s.parentNode.insertBefore(bp, s);-->
  <!--})();-->
<!--</script>-->

